<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Blog</title>
        <link rel="stylesheet" href="/stylesheets/output.css">
    </head>
    <body>
        <div class="mx-auto bg-teal-300">
            <header class="bg-stone-900">
                <nav class="flex space-x-10 pt-4 pl-10 text-sm sm:text-base md:text-lg text-teal-300">
                    <div>
                        <a href="/">Home</a>
                    </div>
                    {{#if loggedIn}}
                    <div>
                        <a href="/dashboard">Dashboard</a>
                    </div>
                    <div>
                        <button id="logout" class="btn-no-style">Logout</button>
                    </div>
                    {{else}}
                    <div>
                        <a href="/login">Login</a>
                    </div>
                    {{/if}}
                </nav>
            </header>
            <div class="grid grid-cols-3 sm:grid-cols-5 py-4 pl-10 bg-stone-900">
                <div class="z-10 py-2 bg-teal-300 rounded text-center text-base text-sm sm:text-md md:text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl font-bold text-stone-900 shadow-[5px_5px_3px_1px_rgba(100,116,139,1)]">
                    {{#if techBlog}}
                        The Tech Blog
                    {{else}}
                        Your Dashboard
                    {{/if}}
                </div>
            </div>
            <main>
                {{{ body }}}
            </main>
            <footer class="flex justify-center">
                <div class="w-1/2 border-t-2 border-stone-900 text-center">
                    Made by Jonathan Kim
                </div>
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>
</html>