<div>
    {{#if posts.length}}
    <section class="flex justify-center grid grid-cols-12">
        {{#each posts as |post|}}
            {{> post-info post}}
        {{/each}}
    </section>
    {{else}}
    <section class="py-10 text-center text-xl font-bold">
        There are no posts! Start a new post with the button below!
    </section>
    {{/if}}
    <div class="flex justify-center py-4">
        <a href="/dashboard/newpost">
            <button class="bg-stone-900 rounded py-3 px-7 text-lg text-white hover:bg-stone-400 hover:text-black" id="new-post">+ New Post</button>
        </a>
    </div>
</div>